* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
}

:root {
  --pink-900: #FF008E;

  --yellow-800: #FFCD1E;

  --black-750: #29292E;
  --black-800: #202024;
  --black-850: #1B1B1F;
  --black-900: #17171A;
  --black-950: #121214;
  --black-1000: #09090A;

  --gray-300: #8D8D99;
  --gray-100: #C4C4CC;

  --light: #E1E1E6;
}

body {
  color: var(--light);
  background: var(--black-950);
}